.leftBar{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #1e2129;
    border-right: solid;
    border-width: 1px;
    border-color: #ffffff;
    top: 0;
    left: 0;
}

.leftBar a{
    margin: 0;
    padding: 15px;
    display: block;
    color: #ffffff;
}

.leftBar a:link{
    text-decoration: none;
}

.leftBar a:hover{
    background-color: #08a19d;
    color: #ffffff;

}
.leftBar a:link{
    color: #ffffff;
}

.leftBar a:visited{
    color: #ffffff;
}

a:link, a:visited{
    text-decoration: none;
    color: #08a19d;
}

a:hover, a:active{
    text-decoration: underline;
    color: #08a19d;
}

.title{
    text-align: center;
}

.title, .text, .textCenter, .table{
    margin-left: 20%;
    padding-left: 2%;
    padding-right: 2%;
}

.text{
    line-height: 1.5;
}

.textCenter{
    text-align: center;
}

.data{
    border: 1px solid #ffffff;
    width: 100%;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #ffffff;
}

#ltb{
width:100%;
table-layout: fixed;
overflow-wrap: break-word;
}

.table{
    overflow-x: auto;
}

table, tr, th{
    border: 1px solid #ffffff;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #ffffff;
}

td{
    text-align: center;
    border: 1px solid #ffffff;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #ffffff;
    overflow-x: auto;
}

.img{
    display: block;
    margin-left: 20%;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    overflow-x: auto;
}

body{
    background-color: #1e2129;
    color: #ffffff;
}
